In [8]:
import pandas as pd
from pathlib import Path

# Reading a CSV file as a Pandas DataFrame

### Step 1: Create a path to the file

In [10]:
csvpath = Path("./Resources/sales.csv")

### Step 2: Read the CSV into a DataFrame using Pandas

In [11]:
sales_dataframe = pd.read_csv(csvpath)
sales_dataframe.head()

FileNotFoundError: [Errno 2] No such file or directory: 'Resources\\sales.csv'

- - -

# Reading a CSV with no Header

In [3]:
# Without a header in the CSV, Pandas will use the first row as the header
csvpath = Path("../Resources/sales_no_header.csv")
sales_data = pd.read_csv(csvpath)
sales_data.head()

NameError: name 'Path' is not defined

In [7]:
# Read the file without a header
sales_data = pd.read_csv(csvpath, header=None)
sales_data.head()

,0,1,2,3,4,5
0,FullName,Email,Address,Zip,CreditCard,SalePrice
1,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
2,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
3,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
4,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88

In [8]:
# Rewrite the column names
columns = ["Full Name", "Email", "Address", "Zip Code", "Credit Card Number", "Sale Price"]
sales_data.columns = columns
sales_data.head()

,Full Name,Email,Address,Zip Code,Credit Card Number,Sale Price
0,FullName,Email,Address,Zip,CreditCard,SalePrice
1,Elwanda White,alyre2036@live.com,352 Lakeshore Mall,9236,5327 0855 9720 7055,84.33
2,Lyndon Elliott,arrowy1873@outlook.com,1234 Avery Plaza,1330,3717 498777 19636,879.95
3,Daisey Sellers,toucan2024@outlook.com,469 Elwood Street,7631,3758 579477 35734,907.58
4,Issac Reeves,asarin1958@gmail.com,565 Phelps Field,81168,4400 0380 4162 1622,545.88

In [2]:
# Generate summary statistics
sales_data.describe()

NameError: name 'sales_data' is not defined